@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

/* Primary CSS */ 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nanum Gothic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('Vakaroria_Banner.png') no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    padding-right: 6px;
    padding-left: 3px;
    background: transparent;
    border: 5px solid #6dcaff;
    border-style: groove;
    border-radius: 6px;
    box-shadow: 0 0 15px #00ffc8;
    backdrop-filter: blur(20px);
    font-size: 48px;
    color: #56ff67;
    user-select: none;
}

.navigation a {
    position: flex;
    font-size: 1.1em;
    color: #56ff67;
    text-decoration: none;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 3px;
    padding-bottom: 4px;
    padding-left: 5px;
    padding-right: 5px;
    background: transparent;
    border: 2.5px solid #6dcaff;
    border-style: groove;
    border-radius: 3px;
    box-shadow: 0 0 10px #00ffc8;
    backdrop-filter: blur(20px);
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: transparent;
    border: 2.5px solid #b463ff;
    border-style: groove;
    border-radius: 3px;
    box-shadow: 0 0 10px #56ff67;
    backdrop-filter: blur(20px);
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

/* Welcome Page CSS */
.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: #00028a;
    border: 2px solid #7a7dff;
    border-style: groove;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #00ffc8;
    font-weight: 500;
    margin-left: 20px;
    transition: .5s;
}

.navigation .btnLogin-popup:hover {
    border: 2px solid #7a7dff;
    border-style: groove;
    background: #020e4f;
    color: #6dcaff;
}

.wrapper {
    position: relative;
    width: 90%;
    max-width: 400px; /* keeps the intended size on larger screens */
    height: 440px;
    background: transparent;
    border: 4px solid #7a7dff;
    border-style: groove;
    border-radius: 4px;
    box-shadow: 0 0 10px #b463ff;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, height .2s ease;
}

.wrapper.active-popup {
    transform: scale(1);
}

.wrapper.active {
    height: 520px;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #020e4f;
    font-size: 2em;
    color: #00ffc8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.wrapper .icon-close:hover {
    border: #00ffc8;
    background: #020e4f;
    color: #6dcaff;
}

.form-box h2 {
    font-size: 2em;
    color: #56ff67;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #7a7dff;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #6dcaff;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #6dcaff;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #6dcaff;
    line-height: 57px;
}

.remember-forgot {
    font-size: .9em;
    color: #6dcaff;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: #6dcaff;
    margin-right: 3px;
}

.remember-forgot a {
    color: #6dcaff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: #020e4f;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #6dcaff;
    font-weight: 500;
}

.login-register {
    font-size: .9em;
    color: #6dcaff;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: #6dcaff;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}

.content {
    position: relative;
    width: 100%;
    max-width: 1500px;
    height: auto;
    margin-top: 180px;
    margin-right: 2rem;
    margin-left: auto;
    display: flex;
    flex-direction: column; /* stack on narrow screens */
    gap: 1rem;
    padding-top: 0px;
    padding-bottom: 5px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 200px;
    margin-bottom: 100px;
    margin-left: 0px;
    margin-right: 350px;
    overflow: hidden;
    background: #00028a;
    border: 4px solid #7a7dff;
    border-style: groove;
    border-radius: 10px;
    box-shadow: 0 0 10px #b463ff;
    h3 {
        text-align: center;
        line-height: 25px;
        margin-top: 25px;
        margin-bottom: 25px;
        font-size: 32px;
        font-weight: bolder;
        color: #00ffc8;
    }
}

p {
    padding-top: 0;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    background: #020e4f;
    border: 2px solid #7a7dff;
    border-style: groove;
    border-radius: 6px;
    box-shadow: 0 0 10px #b463ff;
    text-align: center;
    line-height: 25px;
    font-weight: medium;
    color: #6dcaff;
}

.link {
    position: relative;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 0px;
    display: flex;
    font-size: 1.1em;
    text-align: center;
    font-weight: 500;
    margin: 50px 20px;
    color: #020e4f;
}

.link .icon {
    position: absolute;
    right: 8px;
    color: #b463ff;
    line-height: 25px;
}

.link a {
    position: relative;
    padding-top: 0px;
    padding-bottom: 50px;
    padding-left: 0px;
    padding-right: 150px;
    color: #6dcaff;
    text-decoration: none;
    font-weight: 600;
}

.link a:hover {
    text-decoration: underline;
    color: #7a7dff;
}

/* Add a responsive breakpoint to stack/scale content */
@media (max-width: 900px) {
    .content { 
      padding: 1rem;
      margin-right: 1rem;
      margin-left: 1rem;
      width: calc(100% - 2rem);
    }
    .link { margin-left: 0; display:flex; flex-wrap:wrap; gap:0.5rem; }
}

/* Mobile-specific */
@media (max-width: 420px) {
    .wrapper { height: auto; transform: scale(1); padding: 0.6rem; }
    .wrapper .form-box { padding: 20px; }
    .navigation .btnLogin-popup { width: auto; height: auto; padding: 0.6rem 0.9rem; font-size: 0.95rem; }
}

